.app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.titulo{
    color: white;
    font-size: 36px;
}

.respostas{
    font-size: 24px;
    color: white;
    font-weight: 400;
}